
.header{
    background: #bbbbbb;
    padding: 20px 0;
}

.header-content{
    position: relative;
    width:949px;
    margin: 0 auto;
}
.header-menus{
    position:absolute;
    top:110px;
    right:0;
}
.header-menus a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.header-menus-item{
    display: inline;
    margin: 0 0 0 15;
    font-family: 'Montserrat', sans-serif;

}
.header-menus-item{
    margin:10px;
    
}

.header-menus-item a{
    text-transform:uppercase;
    color: #010101;
    font-weight:bold;
    font-size:22px;
    text-decoration:none;

}

.main-list{
    width: 940px;
    margin:0 auto;
    padding:50px 0;
    
}
.main-list-item{
    display:inline-block;
    text-align:center;
    width:30%;
    vertical-align:top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing:border-box;
    border: 2px solid #010101;
    border-radius:10px;
    
        
}
.main li:hover{
    border-color:#c78c19;
    
}
.main li:hover h2{
    font-size:34px;
}
.main li:active{
    border-color: green;
}

.main-list-item-titulo{
    font-size:30px;
    font-weight:bold;

}

.main-list-item-price{
    font-size:22px;
    font-weight:bold;
    margin-top: 10px;
}
.main-list-item-text{
    font-size:18px;
}

.footer-content{
    text-align: center;
    background: url(assets/img/ProdutrosBarbearia/bg.jpg);
    padding:40px 0px;
}
.footer-content-text{
    color:#f1f1f1;
    font-size:13px;
    margin-top:10px;
}